<br><br><br><br><br>
<%= button_to "seed", seed_path %>


<!--<form action="/home/upload" method="post" enctype="multipart/form-data">-->
<!--<div class="form-group">-->
<!--<label for="exampleInputFile">File input</label>-->
<!--<input type="file" id="exampleInputFile" name="img">-->
<!--<p class="help-block">Example block-level help text here.</p>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-default">Submit</button>-->
<!--</form>-->
<!--<% unless $img_url.nil? %>-->
    <!--<img src="<%= $img_url %>">-->
    <!--<% end %>-->
