<div id="particles-js"></div>

<div class="banner">
  <h1 class="banner-main-title">Be Omniscient with Omnisian</h1>
  <p class="banner-sub-title">We provide daily keyword for your business !</p>
  <p class="banner-sub-title">We provide visual trend for your business !</p>
  <p class="banner-sub-title">커뮤니티 키워드 분석 서비스</p>
  <p class="banner-content">1. 오늘의 키워드 추출</p>
  <p class="banner-content">2. 의미있는 게시글 추천</p>
  <p class="banner-content">3. 커뮤니티 데이터 변화량 시각화 자료 제공</p>
  <p class="banner-content">4. 상세한 분석을 위한 로우 데이터 제공</p>
  <p class="banner-content">5. 경쟁사 커뮤니티 모니터링</p>
</div>
<div class = "contact-banner">
  <h2>Contact Us</h2>
  <p>주 | OMNISIAN</p>
  <p>010-0000-0000</p>
  <p>서울시 관악구 인헌동 196-54호</p>
</div>

<%= javascript_include_tag("particles.min.js") %>
<%= javascript_include_tag("index.js") %>



