<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<div>
  <p class="sub-small-title">오늘의 키워드 [2017-08-14, 410]</p>
  <%= content_tag :div, '', id: 'todays_keyword' %>
</div>

<div class="graph-div">
  <p class="sub-small-title">데이터 변화량</p>
  <%= content_tag :div, '', id: 'products_chart', data: {products: @products} %>
</div>

<script>
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'products_chart',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: $('#products_chart').data('products'),
    // The name of the data record attribute that contains x-values.
    xkey: ['date'],
    // A list of names of data record attributes that contain y-values.
    ykeys: ['view_count'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['view_count'],

    hoverCallback: ['title'],
  });

  new Morris.Bar({
    element: 'todays_keyword',
    data: [
      { keyword: '하이트', a:21, b: (21/410)*100},
      { keyword: '케이스위스', a:17, b: (17/410)*100},
      { keyword: '렌즈나인', a:16, b: (16/410)*100},
      { keyword: '멕시카나', a:15, b: (15/410)*100},
      { keyword: '이니스프리', a:15, b: (15/410)*100},
      { keyword: '스노우', a:14, b: (14/410)*100},
      { keyword: '화장품', a:14, b:  (14/410)*100},
      { keyword: '교복', a:14, b: (14/410)*100},
      { keyword: '삼성페이', a:13, b: (13/410)*100},
      { keyword: '상어', a:8, b: (8/410)*100},
      { keyword: '에너제틱', a:8, b: (8/410)*100},
    ],
    xkey: 'keyword',
    ykeys: ['a', 'b'],
    labels: ['count', 'percentage']
  });
</script>