<div id="particles-js"></div>

<div class="orders-div">
  <div class="orders-inside-div">
    <div class="orders-content-div">
      <p class="sub-small-title">Your Orders</p>
      <table class="table" id="products">
        <thead class="thead-inverse">
          <tr>
            <th>키워드</th>
            <th>기간</th>
            <th>구매시간</th>
            <th>링크</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |o| %>
            <tr>
              <td><%= o.keyword %></td>
              <td>
                <% if o.length == 1 %>
                  체험판
                <% elsif o.length == 2 %>
                  1달
                <% elsif o.length == 2 %>
                  3달
                <% else %>
                  6달
                <% end %>
              </td>
              <td>2017-08-13</td>
              <td><%= link_to '링크', (order_path(o.id)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag("particles.min.js") %>
<%= javascript_include_tag("index.js") %>
